.country {
  margin: 20px 0px;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  padding: 20px 40px;
  height: auto;
}

.country:hover {
  box-shadow: 5px 5px 5px 3px rgba(100, 100, 100, 0.3);
}

.country h3 {
  font-size: 1.5em;
  height: 60px;
}

.countryFlag {
  width: 100px;
}

.country button {
  margin: 20px 0px;
}
